.bytemd {
  height: calc(100vh - 100px);
}
.bytemd-toolbar {
  height: 40px;
}
.ant-upload {
  width: 48px;
  height: 48px;
}
.ant-upload-select {
  width: 48px !important;
  height: 48px !important;
}
